---
layout: demo-archive
title: "Music"
permalink: /music/
author_profile: false
---

<h2>Performances</h2>
<div class="video-container">
  
  <div class='video'>
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/fa0H1b1J6Cw" title="Sibelius: Berceuse, Op. 79, No. 6" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-caption">
      <h4 class="video-title">Sibelius: Berceuse, Op. 79, No. 6</h4>
      <p class="video-description">At Violinist Leia Zhu's visit at MBZUAI.<br><strong>Violin</strong>: Leia Zhu; <strong>Piano</strong>: Ziyu Wang<br><strong>Date</strong>: Feb.7, 2024</p>
    </div>
  </div>

  <div class="video">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/E8pG5Hp4d5I" title="Sibelius: Mazurka, Op. 81, No. 1" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-caption">
      <h4 class="video-title">Sibelius: Mazurka, Op. 81, No. 1</h4>
      <p class="video-description">At Violinist Leia Zhu's visit at MBZUAI.<br><strong>Violin</strong>: Leia Zhu; <strong>Piano</strong>: Ziyu Wang<br><strong>Date</strong>: Feb.7, 2024</p>
    </div>
  </div>

  <div class="video">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/b_NGpy_r8fM" title="Petite Goldberg Variations" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-caption">
      <h4 class="video-title">Petite Goldberg Variations</h4>
      <p class="video-description">I found a street piano at the PATH station @ NYC. I played some variations from the Goldberg Variations. <br><strong>Date</strong>: May 31, 2023</p>
    </div>
  </div>

  <div class="video">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/TlM-uCFS7lA" title="Performance: Beethoven Piano Sonata No.9 in E major" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-caption">
      <h4 class="video-title">Beethoven: Piano Sonata No.9 in E major
      </h4>
      <p class="video-description">In summer 2022, our lab moved to Abu Dhabi and we just got a new player piano. I recorded a piece right away. <br><strong>Date</strong>: Jul 13, 2022</p>
    </div>
  </div>
</div>

<h2>Musical Theaters</h2>
<div class="video-container">
  
  <div class='video'>
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/I969oxjLgV8?list=PLbAhT8_chTj-2AmoPcFhYb3pwEeOFK4zw" title="Documentary of the Musical Procuction ,  Fudan Univ." 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-caption">
      <h4 class="video-title">The Making of <em>Mamma Mia!</em>: A Documentary</h4>
      <p class="video-description">The Fudan Musical Club performed <em>Mamma Mia!</em> on Nov. 27, 2016. I was the director and conductor of the show. The documentary was made by <em>Liyi Zhao</em>.</p>
    </div>
  </div>

  <div class="video">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/OxyXaaE9h9s?list=PLbAhT8_chTj-2AmoPcFhYb3pwEeOFK4zw" title="Opening from Avenue Q" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-caption">
      <h4 class="video-title">Rehearsal: The Opening of Avenue Q</h4>
      <p class="video-description">The Fudan Musical Club performed <em>Avenue Q</em> in Spring 2017. I was the music director and keyboardist of the show. This is a recording of one of our rehearsals.</p>
    </div>
  </div>
  
  <div class="video">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/h4IDQ7OYujg?list=PLbAhT8_chTj-2AmoPcFhYb3pwEeOFK4zw" title="Into the Woods Act I, Fudan Musical Club" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-caption">
      <h4 class="video-title">Into the Woods Presented by Fudan Musical, Act One</h4>
      <p class="video-description">The Fudan Musical Club performed <em>Into the Woods</em> in Fall 2017. I was the director and conductor of the show.</p>
    </div>
  </div>

  <div class="video">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/mPFHRiyTuxg?list=PLbAhT8_chTj-2AmoPcFhYb3pwEeOFK4zw" title="Into the Woods Act II, Fudan Musical Club" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-caption">
      <h4 class="video-title">Into the Woods Presented by Fudan Musical, Act Two</h4>
      <p class="video-description">The Fudan Musical Club performed <em>Into the Woods</em> in Fall 2017. I was the director and conductor of the show.</p>
    </div>
  </div>

  
</div>

<h2>Compositions</h2>
<div class="video-container">

  <div class="video">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/sCbi2i1g_Q4" title="Ruka&#39;s Lullaby - 阳人金曲" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" r
    eferrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-caption">
      <h4 class="video-title">Ruka's Lullaby 阳人金曲</h4>
      <p class="video-description">Composed on Apr 24, 2022, when I was out of the Cabin Hospital in Shanghai.</p>
    </div>
  </div>

  <div class="video">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/UVUWgGBJCCA" title="Happy Christmas and Merry New Year - 过节节" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-caption">
      <h4 class="video-title">Happy Christmas and Merry New Year 过节节</h4>
      <p class="video-description">Composed on the New Year's Eve of 2022.</p>
    </div>
  </div>

  <div class="video">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/H16dBLqWjK0" title="Sentimental Man - 理科男" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-caption">
      <h4 class="video-title">Sentimental Man 理科男</h4>
      <p class="video-description">A first try of composition.</p>
    </div>
  </div>
</div>


{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

