---
layout: demo-archive
title: "Demos and Talks"
permalink: /demos-talks/
author_profile: false
---

<!-- <iframe width="1280" height="720" src="https://www.youtube.com/embed/Ahfk0hvpCzM" title="Music X Lab led by Gus Xia: Expressive Music Performance with AI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
<h2>Music AI in Concerts</h2>

<div class="video-container">
  
  <div class='video'>
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/K7_5APfJa7I" 
    title="Salut D&#39;amour: Trio With Automatic Accompaniment" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-caption">
      <h4 class="video-title">Automatic Accompaniment with a Real Violinist</h4>
      <p class="video-description">I performed Salut d'Amour with Violinist Leia Zhu during her visit at MBZUAI in Feb, 2024. It was my first time to test a computer music algorithm with a <em>true</em> musician on a concert!</p>
    </div>
  </div>

  <div class="video">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/Ahfk0hvpCzM" 
    title="Music X Lab led by Gus Xia: Expressive Music Performance with AI" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-caption">
      <h4 class="video-title">Music AI Concert in Dubai Presented by Music X Lab</h4>
      <p class="video-description">In summer 2022, I hosted a music AI concert with other lab members. We demonstrated some of our music education and generation algorithms with some music.</p>
    </div>
  </div>
</div>

<h2>Deep Music Generation for Human-Machine Co-Creation</h2>

<div class="video-container">

  <div class="video">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/jjr2gDgzrMg" 
    title="Music X Lab: audio to symbolic arrangement and polyphonic style transfer" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-caption">
      <h4 class="video-title">Style Transfer from Audio and Keyboard Input</h4>
      <p class="video-description">I visited <em>Teo</em>, the music robot, in Nov, 2023. I invited him to arrange <em>Fly Me to the Moon</em> in different styles I showezd to him.</p>
    </div>
  </div>

  

  <div class="video">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/YmGdjIdHEQ4" 
    title="Music X Lab: whole-song gen and following an improvised performance (2)" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-caption">
      <h4 class="video-title">Whole-Song Accompaniment Arrangement</h4>
      <p class="video-description">Then, I invited <em>Teo</em>, the music robot, to accompany Gus's rendition of <em>Remember Me</em>, while I used a keyboard to cue the tempo, acting as a conductor.</p>
    </div>
  </div>

  <div class="video">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/NN4bKA8f3v4" 
    title="Style Wheel: fly me to the moon driven by entertainer" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-caption">
      <h4 class="video-title">Steering the Sound: an Education Software Prototype</h4>
      <p class="video-description">If one feels hard to play 88 keys on a piano, use a steering wheel powered by our music representation learning model. The interface is designed by <em>Will Huang</em>.</p>
    </div>
  </div>
  

  <div class="video">
    <iframe width="1280" height="725" src="https://www.youtube.com/embed/Yj4AGCS4tXE" 
    title="Alma Mater Song of ECNU: Automatic Re-arrangement with Compositional Style Transfer" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-caption">
      <h4 class="video-title">A Chorus Arranged by AI</h4>
      <p class="video-description">In 2022, our lab was invited to compose a four-part chorus with a piano accompaniment with our music generation algorithms.</p>
    </div>
  </div>
</div>

<h2>Seleted Talks</h2>

<div class="video-container">
  <div class="video">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/ymBHYtL4NJY?list=PLbAhT8_chTj90fEjVPXlS18EGZinsDJzC" 
    title="#31 - Audio-To-Symbolic Arrangement Via Cross-Modal Music Representation Learning" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-caption">
      <h4 class="video-title">Representation Learning for Music Generation</h4>
      <p class="video-description">In 2022, I was invited by MILA to give a talk, in which I presented an overview of my representation learning research.</p>
    </div>
  </div>
</div>


{% if site.talkmap_link == true %}

<!-- <p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p> -->


{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
